---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { recursosHumanosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable.astro";

import { EMPLEADOS } from "@/data/Empleados";
const columnasEmpleados = [
  { label: "COD", key: "idEmpleado" },
  { label: "Nombres", key: "nombreCompleto" },
  { label: "Cargo", key: "nombreCargo" },
  { label: "Contrato", key: "nombreContrato" },
  { label: "Salario", key: "salario" },
  { label: "Turno", key: "turnoDescripcion" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="empleados" />
  <Navbar
    slot="navbar"
    title="Recursos humanos"
    sections={recursosHumanosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Empleados"
      descripcion="Administra la información personal y laboral de los empleados dentro de la organización."
    />

    <section class="panel-body">
      <article class="controles">
        <label class="controles-label" for="buscarEmpelados">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" name="buscarEmpelados" id="" />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirEmpelados">
            <i class="fa-solid fa-plus"></i>
            Añadir empleado
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasEmpleados} datos={EMPLEADOS} />
    </section>
  </PanelMain>
</PanelLayout>
