---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { gestionUsuariosSections } from "@/data/NavbarSections";
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="usuarios" />
  <Navbar slot="navbar" title="Usuarios" sections={gestionUsuariosSections} />
  <div>Usuarios</div>
</PanelLayout>
