---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { gestionUsuariosSections } from "@/data/NavbarSections";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelMain from "@/components/PanelMain.astro";
import PanelTable from "@/components/PanelTable.astro";

import { USUARIOS } from "@/data/Usuarios";
const columnasUsuario = [
  { label: "COD", key: "cod" },
  { label: "Empleado", key: "empleado" },
  { label: "Correo", key: "correo" },
  { label: "Tipo Usuario", key: "tipoUsuario" },
  { label: "Cantidad", key: "cantidad" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="usuarios" />
  <Navbar
    slot="navbar"
    title="Gestión de usuarios"
    sections={gestionUsuariosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Usuarios"
      descripcion="Controla las cuentas registradas en el sistema."
    />

    <section class="panel-body">
      <article class="controles">
        <label class="controles-label" for="buscarUsuarios">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarUsuarios"
            id=""
            placeholder="Buscar por empleado"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirUsuarios">
            <i class="fa-solid fa-plus"></i>
            Añadir usuario
          </button>
        </div>
      </article>

      <PanelTable columnas={columnasUsuario} datos={USUARIOS} />
    </section>
  </PanelMain>
</PanelLayout>
